# Linux and Mac Build Configuration for Travis

language: cpp

os:
  - linux
  - osx

# Use Ubuntu 14.04 LTS (Trusty) as the Linux testing environment.
sudo: required
dist: trusty

env:
  - GLSLANG_BUILD_TYPE=Release
  - GLSLANG_BUILD_TYPE=Debug

compiler:
  - clang
  - gcc

matrix:
  fast_finish: true # Show final status immediately if a test fails.
  exclude:
    # Skip GCC builds on Mac OS X.
    - os: osx
      compiler: gcc

cache:
  apt: true

branches:
  only:
    - master

addons:
  apt:
    packages:
      - clang-3.6
      - ninja-build

install:
  # Install ninja on Mac OS X.
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update && brew install ninja; fi
  # Make sure that clang-3.6 is selected.
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$CC" == "clang" ]]; then
      export CC=clang-3.6 CXX=clang++-3.6;
    fi

before_script:
  - git clone https://github.com/google/googletest.git External/googletest

script:
  - mkdir build && cd build
  # We need to install the compiled binaries so the paths in the runtests script can resolve correctly.
  - cmake -GNinja -DCMAKE_BUILD_TYPE=${GLSLANG_BUILD_TYPE} -DCMAKE_INSTALL_PREFIX=`pwd`/install ..
  - ninja install
  # Run Google-Test-based tests.
  - ctest --output-on-failure
  # Run runtests-based tests.
  - cd ../Test && ./runtests
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - export ARTIFACT=glslang-$BRANCH-$TRAVIS_OS_NAME.tar.gz
  - tar -zcf $ARTIFACT install/
  - |-
    export API_JSON=$(printf '{"tag_name": "v%s","target_commitish": "master","name": "v%s","body": "Release of version %s","draft": false,"prerelease": false}' $BRANCH $BRANCH $BRANCH)
  - echo $API_JSON
  - curl --data "$API_JSON" https://api.github.com/repos/cget/glslang/releases?access_token=$github_token
  - curl -# -XPOST -H "Authorization:token $github_token" -H "Content-Type:application/octet-stream" --data-binary @$ARTIFACT https://uploads.github.com/repos/cget/glslang/releases/v$BRANCH/assets?name=$ARTIFACT

